@{
  Layout = "_Layout";
}

<h1>Pierres Sweet and Savory Treats</h1>
<h5>Check out all the flavors and treats Pierre has to offer!</h5>
<h5>If you're an authorized user, sign in to make updates to the flavors/treats selections</h5>
<h5>Otherwise, you may browse the selection of treats and flavors without logging in</h5>
<p>@Html.ActionLink("Create an account or login", "Index", "Account")</p>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p> <p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
